<a href="https://colab.research.google.com/github/josejulianpr24/intro_python_202320/blob/main/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a python
## Curso de Programacion y Algoritmia UPB 202320
- Nombre.. José Julián Pérez Ramos
- Id 000461502
- Email: josej.perez@upb.edu.co

Esta es la expresión de la linea recta:
$$y=mx+b$$
donde $x$ el a posición

In [ ]:
#Comentarios
# Mis primeras lineas de codigo en python
name="Jose Julian"
print("Hello,",name)

Hello, Jose Julian

In [ ]:
name= "José Julián"
age="20"
city="Ayapel"
food="Mote de queso"
print("Mi nombre,",name, "tengo,",age, "años de edad," "vivo en",city, "y me gusta el",food )

Mi nombre, José Julián tengo, 20 años de edad,vivo en Ayapel y me gusta el Mote de queso

In [13]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = c / b
print(c)
c = int(c / b)
print(c)
d = 0.3
c /= 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5.0
1
3.3333333333333335

In [17]:
m = 5
b = 2
x = -3
y = m * x + b
print(x, '/---/', y)
x = -2
y = m * x + b
print(x,'/---/' , y)
x = -1
y = m * x + b
print('x' '/---' , y)
x = 0
y = m * x + b
print('x' '/---' , y)
x = 1
y = m * x + b
print('x' '/---' , y)
x = 2
y = m * x + b
print('x' '/---' , y)
x = 3
y = m * x + b
print('x' '/---' , y)

-3 /---/ -13
-2 /---/ -8
x/--- -3
x/--- 2
x/--- 7
x/--- 12
x/--- 17

In [23]:
a = 1
b = 2
c = -8
disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:' , x_p)
print('x_n:' , x_n)

x_p: 2.0
x_n: -4.0

In [25]:
firstname = 'José Julián'
lastname = 'Perez Ramos'
fullname = firstname + " " + lastname
print(fullname)

José Julián Perez Ramos

In [28]:
song = """Un elefante se balanceba sobre la tela de una araña"""
print(song)

Un elefante se balanceba sobre la tela de una araña

In [31]:
a = 3
b = 5
print( a == b)
print(a != b)
print(a > b)
print( a < b)
print(a == b and b + 3 > 5)
print(((a == b)or (b * 3 > 5)))
print((a == b))

False
True
False
True
False
True
False